.upload-panel input[type="file"]::file-selector-button {
  background-color: #e5e7eb; /* gris */
  border: 1px solid #9ca3af;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #111827;
}

.file-row {
  display: flex;
  justify-content: space-between; /* empuja el botón a la derecha */
  align-items: center;
  margin-top: 6px;
}

.upload-panel input[type="file"]::file-selector-button,
.file-remove {
  background-color: #e5e7eb; /* gris */
  border: 1px solid #9ca3af;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #111827;
}

.update-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9fafb;
}

.update-button {
  background-color: #22c55e; /* verde */
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 12px;
}

.update-button:hover {
  background-color: #16a34a; /* verde más oscuro al pasar el mouse */
}