/* probablemente cambiar luego */
.navbar {
  display: flex;
  gap: 16px;
  background: #111827;
  padding: 10px 20px;
}

.nav-link {
  text-decoration: none;
  color: #f8fafc;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
}

.nav-link.active {
  background: #2563eb;
  color: #fff;
}